<h1><strong>Title: </strong><%= @article.title %></h1>

<P><strong>Description: </strong><%= @article.description %></P>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Delete', article_path(@article), data: { turbo_confirm: "Are you sure?", turbo_method: :delete } %> |
<%= link_to 'Articles', articles_path%>